#defaultLayout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  #defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #defaultLayout img{
    height: 150px;
    width: 185PX;
  }
  
  #defaultLayout .content {
    display: flex;
    flex: 1;
  }
  
  #defaultLayout aside {
    width: 240px;
    background-color: #426cb4;
    padding: 1rem;
  }
  
  #defaultLayout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
  }
  
  #defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  #defaultLayout main {
    flex-grow: 1; /* Added */
    padding: 2rem;
    
  }
  