.header-gradient {
    background: linear-gradient(
      to right,
      rgba(237, 233, 254, 0.3),
      rgba(236, 252, 253, 0.3)
    );
    backdrop-filter: blur(8px);
  }
  
  header {
    min-height: 72px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  header a {
    color: #111827;
    text-decoration: none;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  @media (max-width: 640px) {
    header .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
    header button:first-of-type {
      display: none;
    }
  }